.tablink {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 30px 30px 30px;
    font-size: 18px;
    width: 25%;
  }
img{
 padding: 0px 0px 0px 0px;
}
header{
  border: 2px;
  border-color:black;
  padding: 0px 0px 0px 0px;
  }

.tablink:hover {
    background-color: white;
    color: black;
    
}

.tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
}

p{
  padding: 10px;
}
h4{
  padding: 30px 10px 10px 10px;
}
.nav{
    text-align: center;
    padding-top: 0%;
}

/* Style each tab content individually */ 
#About {
  background-color:white;
}
#Portfolio {
  background-color:white;
}
#Education {
  background-color:white;
}
#Contact {
  background-color:white;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
text-align:center;
}
#footer {
text-align:center;
padding: 10px 10px 10px 10px;
text-align:center;
}
#meetdrinkeat {
  text-align:center;
  padding: 10px 10px 10px 10px;
  text-align:center;
  }
 .carousel-img{
      padding: 10px 10px 10px 10px;
      max-width:550px;
      max-height:450px
      min-width:550px;
      min-height:450px

    }
  }